
@font-face{
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.woff") format("WOFF"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("TTF"), url("../fonts/Gilroy/Gilroy-Regular.eot") format("EOT");
}
@font-face{
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy/Gilroy-Bold.woff") format("WOFF"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("TTF"), url("../fonts/Gilroy/Gilroy-Bold.eot") format("EOT");
}
@font-face{
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy/Gilroy-Extrabold.woff") format("WOFF"), url("../fonts/Gilroy/Gilroy-Extrabold.ttf") format("TTF"), url("../fonts/Gilroy/Gilroy-Extrabold.eot") format("EOT");
}
@font-face{
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy/Gilroy-Light.woff") format("WOFF"), url("../fonts/Gilroy/Gilroy-Light.ttf") format("TTF"), url("../fonts/Gilroy/Gilroy-Light.eot") format("EOT");
}
@font-face{
  font-family: 'Gilroy-Medium';
  src: url("../fonts/Gilroy/Gilroy-Medium.woff") format("WOFF"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("TTF"), url("../fonts/Gilroy/Gilroy-Medium.eot") format("EOT");
}
@font-face{
  font-family: 'Gilroy-SemiBold';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("WOFF"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("TTF"), url("../fonts/Gilroy/Gilroy-SemiBold.eot") format("EOT");
}
