mixin modalCart()
    .modal-overlay 
        .modal
            .modal__close
            .modal__content
                .modal__pic 
                .modal__text КОРЗИНА ПУСТАЯ
                a(href="/").cartBtn.modal__btn Посмотреть меню