mixin header(navItems= [])
    header.header
        .container
            .header__wrap
                .header__logo 
                    a(href="index.html") Вкус Есть
                nav.header__nav 
                    ul.header__nav-list 
                        each item in navItems
                            li.header__nav-item 
                                a.header__nav-link(href=`index.html${item.href}`)= item.name
                .header__contacts
                    .header__phone-icon 
                    .header__phone
                        .header__phone-text Контакты:
                        .header__phone-num +7 (917) 510-57-59
                .header__cart.cart-js
                    .header__cart-title Корзина
                    .header__cart-num.cart-empty
